button {
  display: inline-block;
  margin: 15px;
}

.display-top {
  text-align: center;
}

.toggle-button {
  width: 200px;
  height: 200px;
  border-radius: 0;
  background-color: gray;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.toggle-button:active {
  background-color: red;
}

.toggle-button.pressed {
  background-color: red;
}


#fileName {
  display: inline-block;
}

#tempoSlider {
  margin-top: 30px;
  margin-bottom: 30px;
}
#volume {
  margin-left: 35px;
}
#tempo {
  margin-left: 50px; /* add this line */
}
.vertical-slider {
  transform: rotate(-90deg);
  width: 200px;
  margin-top: 40px;
}