button {
  display: inline-block;
  margin: 30px;
}

#fileName {
  display: inline-block;
}

#tempoSlider {
  margin-top: 60px;
  margin-bottom: 60px;
}
#volume {
  margin-left: 35px;
}
#tempo {
  margin-left: 50px; /* add this line */
}
.vertical-slider {
  transform: rotate(-90deg);
  width: 200px;
  margin-top: 40px;
}
.version-number {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1em;
}
